.banner{
    height: 500px;
    width: 500px;
    margin-top: 25px;
}

@media screen and (max-width: 600px) {
    .banner{
        width: 300px;
        height: 400px;
    }
  }

.button{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
